* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
  line-height: 1.5;
}

ol {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

body {
  background-color: #fcffb2;
  font-family: "Archivo Narrow", sans-serif;
}

.nav {
  background-color: lightgray;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul li {
  padding: 1em;
  margin: 1em;
}
.nav ul li a {
  color: black;
}

.nav {
  background-color: lightgray;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1em;
}
.nav__container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__container ul li {
  padding: 1em;
  margin: 1em;
}
.nav__container ul li a {
  color: black;
}
.nav__bars {
  display: none;
}
@media (max-width: 769px) {
  .nav .nav__bars {
    display: block;
  }
  .nav .nav__right {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./.././../../images/hero image.jpg") no-repeat center center/cover;
  height: 80vh;
}
.hero div {
  text-align: center;
}
.hero h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
.hero p {
  font-size: 2rem;
  color: #fcffb2;
}
.hero button {
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  background-color: #fcffb2;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgray;
}
.hero__cta {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.about {
  background-image: url(../../../images/images\ \(1\).jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid lightgray;
  width: 80%;
  margin: auto;
  padding: 1em;
  gap: 2em;
}
.about h1 {
  text-align: center;
  margin: 1em 0;
}
.about a {
  color: black;
}
.about__content .paragragh {
  text-align: center;
  box-shadow: 0 0 5px lightgray;
}
.about__membership__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about button {
  padding: 1em;
  margin-top: 4em;
  background-color: green;
  border: none;
  border-radius: 5px;
}
.about button a {
  color: #fff;
}
.about__missionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  padding: 2em;
}
.about__prospect {
  box-shadow: 0 0 5px lightgray;
  width: 25%;
  height: 200px;
  padding: 1em;
}
.about__icon {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.about__team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.about__team img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__team p {
  box-shadow: o o 6px lightgray;
}
.about__teamImg {
  height: 250px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.about__images {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 350;
  box-shadow: 0 0 6px lightgray;
  padding: 2em;
  gap: 2em;
}
.about__values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.5em;
  gap: 2em;
}
.about__card {
  width: 25%;
  padding: 1em;
  box-shadow: 0 0 5px lightgray;
}

.products {
  background-color: lightgray;
  margin: 2em 0;
  text-align: center;
}
.products__list {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}
.products__list__items div {
  width: 300px;
  height: 300px;
}
.products__list__items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 400px) {
  .products div {
    width: 100%;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__container ul li {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.footer__container .btn {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px lightgray;
  font-size: 1em;
  margin-top: 0.5em;
  border: none;
}
.footer__container input {
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .footer__container {
    flex-direction: column;
  }
}
.contact {
  height: 80vh;
  padding: 1em;
  background-image: url(../../../images/recyle.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
.contact input[type=text], .contact input[type=email], .contact input[type=subject] {
  padding: 2em;
  margin-top: 2em;
  width: 200%;
}
.contact button {
  padding: 1em;
  margin-top: 4em;
  background-color: green;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.contact h3 {
  font-size: 3rem;
  color: green;
}
.contact .form {
  width: 80%;
  padding: 1em;
}
.contact .form div {
  overflow: hidden;
}
.contact .input {
  width: 100%;
}

.membership {
  border: 2em solid lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.membership__container {
  border: 1em solid lightgray;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.membership__container input[type=text],
.membership__container input[type=email],
.membership__container input[type=password] {
  padding: 0.5em;
  margin-top: 0.5em;
}
.membership__container h1 {
  text-align: center;
  margin-bottom: 1em;
}
.membership__right__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  border: 1em solid lightgray;
  padding: 2em;
}
.membership__right__container .collectors, .membership__right__container .recyclers {
  padding: 1em;
}
.membership__right__container .collectors ol, .membership__right__container .recyclers ol {
  padding: 1em;
}
.membership__right__container .collectors {
  border-right: 1px solid lightgray;
}
.membership .button__information {
  padding: 1em;
  margin-top: 4em;
  background-color: green;
  border: none;
  border-radius: 5px;
}
.membership .button__information a {
  color: white;
}