* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.nav {
  background-color: lightgray;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  margin: 1em;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

li {
  padding: 1em;
  margin: 1em;
}
li a {
  color: black;
}

.hero {
  background-image: url("../../../images/hero image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  padding: 3em;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.about {
  border: 1px solid red;
  width: 80%;
  margin: auto;
}
.about h1 {
  text-align: center;
  margin: 1em 0;
}
.about a {
  color: black;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 2px solid lightgray;
  padding: 1em;
  gap: 2em;
}
.about__content button {
  padding: 1em 2em;
  background-color: blue;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  margin-top: 2em;
  box-shadow: 0 0 5px lightgray;
}
.about__content p {
  font-size: 1.5rem;
}
.about__missionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid lightgray;
  gap: 2em;
  padding: 2em;
}
.about__prospect {
  box-shadow: 0 0 5px lightgray;
  width: 25%;
  height: 200px;
  padding: 1em;
}
.about__icon {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.about__team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid lightgray;
  gap: 2em;
  padding: 2em;
}
.about__team img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__team p {
  box-shadow: o o 6px lightgray;
}
.about__teamImg {
  height: 150px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.about__images {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 360px;
  box-shadow: 0 0 6px lightgray;
  padding: 2em;
  gap: 2em;
}
.about__values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.5em;
  gap: 2em;
}
.about__card {
  width: 25%;
  padding: 1em;
  box-shadow: 0 0 5px lightgray;
}