@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.about {
  background-image: url(../../../images/images\ \(1\).jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid $light-gray;
  width: 80%;
  margin: auto;
  h1 {
    text-align: center;
    margin: 1em 0;
  }
  a {
    color: black;
  }
  &__content {
    .paragragh {
      text-align: center;
      box-shadow: 0 0 5px $light-gray;
    }
  }
  // @include flex(space-between, center);
  // border: 2px solid$light-gray;
  &__membership__button{
    @include flex(center, center, column)
  }
  padding: 1em;
  gap: 2em;
  button {
    @include button($green);

    a {
      color:$white;
    }
  }

  &__missionDiv {
    @include flex(center, center);
    // border: 2px solid $light-gray;
    gap: 2em;
    padding: 2em;
  }
  &__prospect {
    box-shadow: 0 0 5px $light-gray;
    width: 25%;
    height: 200px;
    padding: 1em;
  }
  &__icon {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }
  &__team {
    @include flex(center, center);
    // border: 2px solid $light-gray;
    gap: 2em;

    img {
      height: 100%;
      object-fit: contain;
    }
    p {
      box-shadow: o o 6px $light-gray;
    }
  }
  &__teamImg {
    height: 250px;
    width: fit-content;

    text-align: center;
  }
  &__images {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 350;
    box-shadow: 0 0 6px $light-gray;
    padding: 2em;
    gap: 2em;
  }

  &__values {
    @include flex(center, center);

    padding: 1.5em;
    gap: 2em;
  }

  &__card {
    width: 25%;
    padding: 1em;
    box-shadow: 0 0 5px $light-gray;
  }
}
@media (max-width:1312px) {
  .about{
    &__missionDiv{
      // flex-direction: column;
      padding: 0;
    }
   &__prospect{
width: 48%;
   }
   &__images{
    width: 48%;

   }
    
  }
}
@media (max-width:783px) {
 .about{
  &__missionDiv{
    flex-direction: column;
  }
  &__prospect{
    flex-direction: column;
  }
  &__team{
    flex-direction: column;
  }
  &__values{
    flex-direction: column; 
  }
  &__card{
    width: 80%;
  }
  &__images{
    width: 80%;
  }
  &__prospect{
    width: 80%;
  }
 } 
}