.hero {
  background-image:  url("../../../images/hero\ image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  padding: 3em;
  color:green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  }

